* {
    vertical-align: middle;
}

legend {
    text-align: left;
    min-width: 100%;
}

fieldset {
    width: 100%;
}

label {
    font-size: .7em;
}

input {
    padding: 5px;
    margin: 0 10px;
    min-height: 20px;
    min-width: 250px;
    border: 1px solid #000;
}
